.App {
  width: 800px;
  overflow: hidden;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  display: flex;
  align-items: center;
  height: 55px;
}

.item.folder {
  cursor: pointer;
}

.icon svg {
  height: 40px;
  width: 40px;
}

.item-name {
  
}

.items-container {
  margin-left: 20px;
  border-left: 2px solid burlywood;
  padding-left: 10px;
}

.item-name {
  flex: 1 0 0;
}

.add-item-container {
  display: none;
  gap: 12px;
  justify-content: space-evenly;
}

.item:hover .add-item-container {
  display: flex;
}

.add-item-container p {
  display: flex;
  align-items: center;
  gap: 5;
}

.add-item-container img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

input, input:focus {
  outline: none;
  border: 0;
  background-color: transparent;
  padding-left: 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  z-index: -1;
}

.item-name.edit, .item-name.edit:focus {
  z-index: 0;
}

.input-box-container {
  display: flex;
  align-items: center;
}

.input-box-container input {
  padding-left: 10px;
}